<div class="container">
    <div class="card">
        <div class="card-body">

            <!-- routes -->
            <div class="page-header">
                <div class="container">
                    <h1>Router Sample</h1>
                    <div class="navLinks">
                        <a class="link" [routerLink]="['/home']">
                            Home
                        </a> |
                        <a class="link" [routerLink]="['/about']">
                            About Us
                        </a> |
                        <a class="link" [routerLink]="['/contact']">
                            Contact Us
                        </a>
                        <!-- <a class="link" [routerLink]="['/post']">Post</a> -->
                    </div>
                </div>
            </div>

            <div id="content">
                <div class="container">
                    <router-outlet></router-outlet>
                </div>
            </div>

        </div>
    </div>
</div>