<div class="form-group">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ childPost.title }}</h5>
            <p class="card-text">{{ childPost.post }}</p>
            <hr>
            <p class="card-text">Votes: {{ childPost.votes }}</p>


            <button 
                type="button" 
                class="btn btn-success" 
                (click)="voteUp()"
                >
                Upvote
            </button>

            <button 
                type="button" 
                class="btn btn-danger" 
                (click)="voteDown()"
            >
                Downvote
            </button>

            <!-- delete pospt using Output -->
            <button 
                (click)="deletePost()" 
                type="button" 
                class="btn btn-danger float-right"
            >
                Delete(Normal)
            </button>

            <!-- delete using services -->
            <button 
                (click)="deletePostServices()" 
                type="button" 
                class="btn btn-danger float-right"
            >
                Delete(Services)
            </button>

        </div>
    </div>
</div>