/* You can add global styles to this file, and also import other style files */

body { margin: 0; }


.card-body {
    background-color: #6c81a0;
}

.link {
    color: aliceblue;
}

.link:hover {
    color: pink;
}














