<p>
  home works!
</p>

<form>
    <div class="form-group">
        <label for="title">Title</label>
        <input 
            type="text" 
            class="form-control" 
            placeholder="Title" 
            #title
        >
    </div>
    <div class="form-group">
        <label for="post">Post</label>
        <textarea 
            class="form-control" 
            placeholder="Post Text" 
            rows="3" 
            #post
        >
        </textarea>
    </div>


    <div class="form-group row">
        <div class="col">
            <button 
                type="submit" 
                class="btn btn-primary float-right" 
                (click)="addPost(title, post)"
            >
                Submit
            </button>
        </div>
    </div>
</form>

<!-- posts comes from AppComponent, 
    childPosts is in PostsComponent -->
<app-post 
    *ngFor="let post of posts; let i=index" 
    [childPost]="post" 
    (childEvent)="deletePost($event)"
>

</app-post>